name = "atlantis" # The name of you deployment

# Enter TLD of a domain that is managed by AWS Route53 (optional)
# UNCOMMENT if you plan to use it
# domain = "mydomain.com" 

alb_ingress_cidr_blocks = ["x.x.x.x/32"] # The CIDR range to whitelist to your Atlantis instance
github_owner = "myorg" # The organization name housing your repos 
github_repo_names = ["mycoolrepo1", "mycoolrepo2"] #The repo name expecting to call to atlantis
github_user = "<USERNAME>" # The username of your new github account running atlantis
github_token = "<PAT Token>" # The PAT created for your user above

# S3 Backend
s3_bucket_name = atlantis-backend-bucket # Unique name for your S3 bucket
aws_region = us-east-1 # The region you plan to deploy your atlantis setup in

# AWS Tags
owner = "Auto-Bot" # A cool name for your deployment
environment = "Prod"

# Secrets / API keys
GITHUB_TOKEN=<your secret>

TSKEY_EPHEMERAL_SERVER=<your secret>

AWS_ACCESS_KEY_ID=<your secret>

AWS_SECRET_ACCESS_KEY=<your secret>

GODADDY_API_KEY=<your secret>

GODADDY_API_SECRET=<your secret>
